td {
    background: lightblue;
    padding: 6px;
}

th{
  background: gold;
  color: white;
  padding: 6px;
}

input{
  height: 45px;
  width:  200px;
}

button{
  height: 50px;
  width:  50px;
  background: lightgray;
  color: white;

}
